<ng-container *ngIf="books$ | async as books" >
<p-table [value]="books">
    <ng-template pTemplate="header">
        <tr>
            <th>@Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-books>
        <tr>
            <td><a [routerLink]="['/Element-details', books.id]">{{books.id}}</a></td>
            <td>{{books.Title}}</td>
            <td><a [routerLink]="['/Author-details', books.Author]"> {{books.Author}} </a> </td>
            <td><button type="button" class="btn btn-danger"(click)="onDelete(books)">Delete</button></td>
        </tr>
    </ng-template>
</p-table>
</ng-container>